html, body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}
a {
  color: #333;
  text-decoration: none;
}
nav {
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav a {
  margin-left: 10px;
}
nav a:hover {
  background-color: yellow;
}
nav button {
  background-color: white;
  border: 0px;
  cursor: pointer;
}
nav button:hover {
  background-color: yellow;
}
nav .logo {
  display: block;
  margin-right: auto;
  margin-right: auto;
}

footer {
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
  background-color: red;
  color: white;
}
footer a {
  font-size: x-small;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  background-color: #FFBFBF;
  color: #5E1220 ;
  cursor: pointer;
}

/* .content {
  max-width: 960px;
  margin: 0 auto;
} */