body {
  background: white;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav a {
  margin-left: 12px;
}
nav .minibasket {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
.search {
  padding: 0.3rem 1rem;
  justify-content: center;
  background-color: lightgray;
}

footer {
  text-align: center;
  background-color: red;
  color: white;
}
footer a {
  font-size: x-small;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  background-color: pink;
  color: purple ;
  cursor: pointer;
}

/* .content {
  max-width: 960px;
  margin: 0 auto;
} */