  .search {
    padding: 8px 1rem;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
  }
  .search input {
    width: 65%;
    font-size: 12px;
    border-radius: 15px 0px 0px 15px;
    border: 0px;
    outline: none;
  }
  .search button {
    font-size: 12px;
    background-color: white;
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    outline: none;
  }